.myDialog{
        -fx-background-color: #1d1d1d;
}
.myDialog > *.button-bar *.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.myDialog > *.button-bar *.button:hover{
	-fx-background-color: #3a3a3a;
} 
.myDialog > *.button-bar *.button:pressed{
	-fx-background-color: white;
  -fx-text-fill: #1d1d1d;
} 
.myDialog > *.label.content{
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
.myDialog:header *.header-panel{
    -fx-background-color: #1d1d1d;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}